In [1]:
import sqlite3

In [10]:
con = sqlite3.connect("movies.db")

In [11]:
c = con.cursor()

In [23]:
#c.execute("""CREATE TABLE movies (
#                movies TEXT, 
#                lead_actor TEXT, 
#                actress TEXT, 
#                year_Of_Release INTEGER, 
#                director TEXT
#       )""")

In [13]:
con.commit()

In [15]:
c.execute("INSERT INTO movies VALUES('venom','Tom Hardy', 'Michelle Williams', 2018, 'Ruben Fleischer')")

In [16]:
con.commit()

In [18]:
c.execute("INSERT INTO movies VALUES('Golmal','Ajay devgon', 'karina kapoor', 2015, 'Rohit Shetty')")

In [19]:
con.commit()

In [24]:
c.execute("SELECT * FROM movies")
print(c.fetchall())

[('venom', 'Tom Hardy', 'Michelle Williams', 2018, 'Ruben Fleischer'), ('Golmal', 'Ajay devgon', 'karina kapoor', 2015, 'Rohit Shetty')]

In [37]:
c.execute("SELECT movies FROM movies")

In [39]:
for i in c.execute("SELECT * FROM movies"):
    print(i)

('venom', 'Tom Hardy', 'Michelle Williams', 2018, 'Ruben Fleischer')
('Golmal', 'Ajay devgon', 'karina kapoor', 2015, 'Rohit Shetty')

In [40]:
c.execute("INSERT INTO movies VALUES('Baahubali','Prabhas', 'Tamannaah', 2015, 'S S rajamouli')")
con.commit()

In [41]:
for i in c.execute("SELECT * FROM movies"):
    print(i)

('venom', 'Tom Hardy', 'Michelle Williams', 2018, 'Ruben Fleischer')
('Golmal', 'Ajay devgon', 'karina kapoor', 2015, 'Rohit Shetty')
('Baahubali', 'Prabhas', 'Tamannaah', 2015, 'S S rajamouli')